<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <title>Rose Timmer &amp; Associates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Food processing equipment manufacturer's rep with a specialization in sorting" />
    <meta name="keywords" content="food, sorting, equipment, sales, engineering, quality" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="/assets/img/favicon.ico" />
    <link href="http://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800%7CPlayfair%20Display:700%7CPT%20Serif:400i" rel="stylesheet" type="text/css">

    {{ stylesheetTag }}

    <!--[if lt IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="{{ .bodyClass }}">
    <div class="site-wrapper">
      <div class="doc-loader"></div>

      {{ template "leftNav" . }}
      {{ template "rightSidebar" . }}
      {{ template "pageContent" . }}
    </div>

    {{ javascriptTag }}
  </body>
</html>
