{{ define "pageContent" }}
<div id="content" class="site-content">
  <div class="portfolio-item-wrapper">
    <div class="portfolio-content center-relative content-1170">
      <div id="slider" class="simple-image-slider-wrapper relative swiper-container">
        <div class="swiper-wrapper image-slider slider">
          <div class="swiper-slide">
            <img src="/assets/img/image_45.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/image_46.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="/assets/img/image_43.jpg" alt="">
          </div>
        </div>
        <div class="clear"></div>
        <div class="swiper-pagination simple-image-slider-pagination swiper-pagination-slider"></div>
      </div>

      <div class="two_third">
        <h1>Arbour Farms</h1>
        <div class="medium-text">
          Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean roxysm
          of global death rich in heavy atoms with miles away from sun.
        </div>
        <br>
        <p>
          Bearable only through love hydrogen atoms bits of moving fluff culture shores of the cosmic ocean paroxysm
          of global death rich in heavy atoms with pretty stories for which there’s little good evidence something incredible
          is waiting to be known not a sunrise but a galaxyrise shores of the cosmic ocean inconspicuous motes of rock.
        </p>
      </div>

      <div class="one_third last">
        <br>
        <div class="info-code">
          <p class="info-code-title">PROJECT</p>
          <p class="info-code-content">Corporate Branding</p>
        </div>
        <div class="info-code">
          <p class="info-code-title">CLIENT</p>
          <p class="info-code-content">Envato Studio</p>
        </div>
        <div class="info-code">
          <p class="info-code-title">DATE</p>
          <p class="info-code-content">September 2018</p>
        </div>
        <div class="info-code">
          <p class="info-code-title">ENGINEER</p>
          <p class="info-code-content">John Petters</p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="nav-links">
      <a class="nav-next tooltip" data-title="Photo Coloection" href="/case-study/2">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="clear"></div>
</div>
{{ end }}
