{{ define "pageContent" }}
<div id="content" class="site-content">
  <div class="content-right">
    <div class="horizontal-slider image-slider-wrapper relative">
      <div class="swiper-wrapper image-slider slider">

        <div class="swiper-slide text-slide">
          <div class="carousel-item-text">
            <p class="title-description-up">KICKING ASS</p>
            <h1 class="entry-title big-text">Case Studies</h1>
            <div class="carousel-content">
              Ships are safe at harbour but that's not what ships are made for.
              Check out the ways that we've steered towards increased margins
              and greater profitability.
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/case-study/1" class="img-thumb">
              <img src="/assets/img/image_01.jpg" alt="" >
            </a>
            <div class="carousel-item-info">
              <!-- <div class="carousel-cat-links">
                <ul>
                  <li class="portfolio-category">
                    <a href="#">Berries</a>
                  </li>
                  <li class="portfolio-category">
                    <a href="#">Square</a>
                  </li>
                </ul>
              </div> -->
              <h2>
                <a href="/case-study/1">Arbour Farms</a>
              </h2>
            </div>
            <p class="post-num">
              <span>01</span>
              <span class="total-num">05</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="portfolio-2.html" class="img-thumb">
              <img src="/assets/img/image_02.jpg" alt="" >
            </a>
            <div class="carousel-item-info">
              <!-- <div class="carousel-cat-links">
                <ul>
                  <li class="portfolio-category">
                    <a href="#">People</a>
                  </li>
                  <li class="portfolio-category">
                    <a href="#">Portrait</a>
                  </li>
                </ul>
              </div> -->
              <h2>
                <a href="portfolio-2.html">Seneca</a>
              </h2>
            </div>
            <p class="post-num">
              <span>02</span>
              <span class="total-num">05</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="portfolio-3.html" class="img-thumb">
              <img src="/assets/img/image_03.jpg" alt="" >
            </a>
            <div class="carousel-item-info">
              <!-- <div class="carousel-cat-links">
                <ul>
                  <li class="portfolio-category">
                    <a href="#">Inspiration</a>
                  </li>
                  <li class="portfolio-category">
                    <a href="#">Landscape</a>
                  </li>
                </ul>
              </div> -->
              <h2>
                <a href="portfolio-3.html">Ocean Spray</a>
              </h2>
            </div>
            <p class="post-num">
              <span>03</span>
              <span class="total-num">05</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="portfolio-1.html" class="img-thumb">
              <img src="/assets/img/image_04.jpg" alt="" >
            </a>
            <div class="carousel-item-info">
              <!-- <div class="carousel-cat-links">
                <ul>
                  <li class="portfolio-category">
                    <a href="#">Inspiration</a>
                  </li>
                  <li class="portfolio-category">
                    <a href="#">Portrait</a>
                  </li>
                </ul>
              </div> -->
              <h2>
                <a href="portfolio-1.html">Lakeside</a>
              </h2>
            </div>
            <p class="post-num">
              <span>04</span>
              <span class="total-num">05</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="portfolio-2.html" class="img-thumb">
              <img src="/assets/img/image_05.jpg" alt="" >
            </a>
            <div class="carousel-item-info">
              <!-- <div class="carousel-cat-links">
                <ul>
                  <li class="portfolio-category">
                    <a href="#">Inspiration</a>
                  </li>
                  <li class="portfolio-category">
                    <a href="#">Portrait</a>
                  </li>
                </ul>
              </div> -->
              <h2>
                <a href="portfolio-2.html">Birds Eye Foods</a>
              </h2>
            </div>
            <p class="post-num">
              <span>05</span>
              <span class="total-num">05</span>
            </p>
          </div>
        </div>

        <!-- <div class="swiper-slide more-posts-portfolio">
          <div class="portfolio-slider-load-more">
            <span class="more-portfolio-posts">LOAD MORE</span>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{{ end }}
