{{ define "pageContent" }}
<div id="content" class="site-content">
  <div class="content-right">
    <div class="horizontal-slider image-slider-wrapper relative">
      <div class="swiper-wrapper image-slider slider">

        <div class="swiper-slide text-slide">
          <div class="carousel-item-text">
            <p class="title-description-up">KICKING ASS</p>
            <h1 class="entry-title big-text">Rose Timmer &amp; Associates</h1>
            <div class="carousel-content">
              Kicking ass and taking names. We've been crafting solutions that
              deliver improved margins and better yields since 1977 for the food
              industry. Learn more about who we are and why our customer loyalty
              is matched by none.
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/portfolio-rose" class="img-thumb">
              <img src="/assets/img/0046.jpg" alt="">
            </a>
            <div class="carousel-item-info">
              <h2>
                <a href="/portfolio-rose">Rose Timmer</a>
              </h2>
            </div>
            <p class="post-num">
              <span>01</span>
              <span class="total-num">02</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/portfolio-jim" class="img-thumb">
              <img src="/assets/img/IMG_0988.jpg" alt="">
            </a>
            <div class="carousel-item-info">
              <h2>
                <a href="/portfolio-jim">Jim Timmer</a>
              </h2>
            </div>
            <p class="post-num">
              <span>02</span>
              <span class="total-num">02</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{{ end }}
