{{ define "pageContent" }}
<div id="content" class="site-content">
  <div class="content-right">
    <div class="horizontal-slider image-slider-wrapper relative">
      <div class="swiper-wrapper image-slider slider">

        <div class="swiper-slide text-slide">
          <div class="carousel-item-text">
            <p class="title-description-up">KICKING ASS</p>
            <h1 class="entry-title big-text">Rose Timmer &amp; Associates</h1>
            <div class="carousel-content">
              Unparalleled products and services. We've been crafting solutions 
              that deliver improved margins and better yields for the food 
              industry since 1977. Learn more about who we are and why our 
              customer loyalty is second to none.
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/portfolio-rose" class="img-thumb">
              <img src="/assets/img/0046.JPG" alt="">
            </a>
            <div class="carousel-item-info">
              <h2>
                <a href="/portfolio-rose">Rose Timmer</a>
              </h2>
            </div>
            <p class="post-num">
              <span>01</span>
              <span class="total-num">03</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/portfolio-jim" class="img-thumb">
              <img src="/assets/img/0020.jpg" alt="">
            </a>
            <div class="carousel-item-info">
              <h2>
                <a href="/portfolio-jim">Jim Timmer</a>
              </h2>
            </div>
            <p class="post-num">
              <span>02</span>
              <span class="total-num">03</span>
            </p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="carousel-item-image">
            <a href="/portfolio-optimum" class="img-thumb">
              <img src="/assets/img/optimum.jpg" alt="">
            </a>
            <div class="carousel-item-info">
              <h2>
                <a href="/portfolio-jim">Optimum</a>
              </h2>
            </div>
            <p class="post-num">
              <span>03</span>
              <span class="total-num">03</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{{ end }}
