{{ define "pageContent" }}
<div id="content" class="site-content">
  <article>
    <div class="single-post-header-content content-1170 center-relative">
      <img src="/assets/img/ansley_2.jpg" alt="" class="bottom-50">

      <div class="post-wrapper center-relative">
        <div class="single-content-wrapper content-960 center-relative">
          <h1 class="entry-title">
            Ansley Spivey
          </h1>

          <div class="post-info-wrapper">
            <div class="sticky-spacer">
              <div class="entry-info">
                <div>
                  <div class="text-holder">
                    Title
                  </div>
                  <div class="author-nickname">
                    Sales Assistant
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Location
                  </div>
                  <div class="author-nickname">
                    Athens, Georgia
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Email
                  </div>
                  <div class="author-nickname">
                    <a href="mailto:james@rosetimmer.com" rel="author">
                      ansley@rosetimmer.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="entry-content">
            <p>
              A girl from the south, I grew up in Vidalia, GA, known to 
              many as “home of the sweet onions.” I, however, was raised on 
              a 30-acre blueberry farm, tirelessly and expertly maintained 
              by my grandfather and father, who insisted on making those 
              fields of blooming berries a learning experience for my 
              siblings and me.
            </p>
            <p>
              During these formative years, I came to understand hard labor 
              from sun-up to sun-down. I often saw my father stress about 
              losing berries to frost, shrivel, and insects, but also saw 
              him jump straight into problem solving mode. Many mornings, 
              I’d hang on the back of our picker, watching the blueberries 
              get knocked into a lug, before begging to watch the sorting 
              process, which was done mostly by hand and very involved. I 
              valued my upbringing so much, especially as I realized that 
              many of my friends only knew purchasing a clam shell of 
              produce from the local Wal-Mart.
            </p>
            <blockquote>
              <p>
                I’ve learned that an office job isn’t for everyone...
              </p>
            </blockquote>
            <p>
              After high school, I moved to Athens, GA for college. By the 
              end of my sophomore year, I knew the classroom was not a 
              place where I would thrive. So, after reasoning with my 
              extremely supportive parents, I dove head first into the real 
              world. I dabbled in the service industry and loved getting to 
              know people and satisfying all their needs! Later, I found a 
              family-owned animal farm looking for someone to care for 
              their house, land, and animals. Quickly being reminded of 
              home, I accepted the role and became an expert in 
              self-discipline, waking up at sunrise to feed and clean the 
              horses, goats, chickens, dogs, and cats – oh my!
            </p>
            <p>
              Despite loving environments like these, I found myself 
              needing more financial support, so I landed a good ole’ 9 to 
              5 office job as a Marketing & Listing Coordinator with 
              Coldwell Banker Upchurch Realty. In those two years, I 
              learned the values of marketing and prospecting, maintaining 
              relationships with varying personalities, and the process of 
              not only making a sale, but selling something with the intent 
              to make someone’s life better and easier.
            </p>
            <p>
              Over time, I’ve learned that an office job isn’t for everyone 
              and that’s okay! I’m young, ready to travel, meet new people, 
              and make an impact in this life.
            </p>
            <p>
             If I’m not working, you can find me visiting my little 
             hometown, spending time with my dog, having a glass of wine 
             with friends, or finding a good place to eat!
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <div class="clear"></div>
</div>
{{ end }}}
