{{ define "pageContent" }}
<div id="content" class="site-content">
  <article>
    <div class="single-post-header-content content-1170 center-relative">
      <img src="/assets/img/0044.JPG" alt="" class="bottom-50">

      <div class="post-wrapper center-relative">
        <div class="single-content-wrapper content-960 center-relative">
          <h1 class="entry-title">
            Jim Timmer
          </h1>

          <div class="post-info-wrapper">
            <div class="sticky-spacer">
              <div class="entry-info">
                <div>
                  <div class="text-holder">
                    Title
                  </div>
                  <div class="author-nickname">
                    VP Process Improvement, Sales & Training
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Location
                  </div>
                  <div class="author-nickname">
                    Bozeman, MT
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Email
                  </div>
                  <div class="author-nickname">
                    <a href="mailto:james@rosetimmer.com" rel="author">
                      james@rosetimmer.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="entry-content">
            <p>
              I started in the wholesale food industry in 1974 as a college 
              student, when I worked at The Hirschfelder Company in San 
              Francisco, CA. I was employed there for two summers, pulling 
              orders and driving trucks while learning the ins and outs of 
              the food business and food manufacturing. Immediately after 
              graduating college, I accepted a position as an Assistant 
              Purchasing Agent at Marin Food Specialties in San Rafael, CA. 
              After about six months, I was promoted to managing the snack 
              food manufacturing division of the company.
            </p>
            <p>
              I lead the manufacturing arm for six years, learning much 
              about manufacturing equipment, supplies, food quality, 
              sanitation, and personnel. In 1983, I received an opportunity 
              to move to Montana and assist in starting a food 
              manufacturing operation in fruits and vegetables. Over the 
              next six years I installed a variety of food processing 
              operations in meat and poultry, fruits and vegetables, and 
              grain and herb production, all while operating a bakery.
            </p>
            <p>
              In 1989, I transitioned into a variety of roles related to 
              food manufacturing and equipment sales. During this time, I 
              learned how to be a valuable resource to my clients due to my 
              experience purchasing new and used equipment and running food 
              manufacturing facilities. In 1991, I accepted a position with 
              Western States Machinery Corp., headquartered in Pacific 
              Grove, CA. I took over new equipment sales for the NW 
              territory, selling food packaging and processing equipment, 
              while representing over 30 different lines of equipment.
            </p>
            <blockquote>
              <p>
                This experience was indispensable to my developing knowledge of food manufacturing...
              </p>
            </blockquote>
            <p>
              After eight years there and over 20 years in the industry, I 
              finally ventured out on my own and incorporated Loring 
              Industries, Inc. initially as a contract dry packaging 
              company and subsequently as a manufacturers rep company.
            </p>
            <p>
              Within a year, I began selling for Belgian Electronic Sorting 
              Technology (BEST) when they opened their sales activities in 
              the United States through M. Parise & Associates. I would be 
              remiss to not mention Mike Parise, President of MPA, for all 
              the opportunities he has provided my company and for his 
              mentorship and guidance along the way while I worked for BEST 
              for 13 years, and later, TOMRA Sorting Solutions for 5 years.
            </p>
            <p>
              Here at Loring Industries, Inc., we conceptualize our job as 
              an extension of each customer’s engineering department, with 
              expertise in helping our customers solve perplexing problems 
              and design ways to save money and increase profitability. We 
              are old-fashioned salespeople and truly enjoy our customers 
              and the relationships we have developed over the years. I 
              also want to take this opportunity to thank our many 
              customers for the trust they placed in us and how 
              contributing to their success has engendered our own. We are 
              truly happy to be of service.
            </p>
            <p>
             When I’m not working, you can find me telling stories and 
             teaching children, designing small spaces, hiking in the 
             Beartooth mountains, and reading about early American history. 
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <div class="clear"></div>
</div>
{{ end }}}
