{{ define "pageContent" }}
<div id="content" class="site-content">
  <article>
    <div class="single-post-header-content content-1170 center-relative">
      <img src="/assets/img/optimum.jpg" alt="" class="bottom-50">

      <div class="post-wrapper center-relative">
        <div class="single-content-wrapper content-960 center-relative">
          <h1 class="entry-title">
            Steve Raskin
          </h1>

          <div class="post-info-wrapper">
            <div class="sticky-spacer">
              <div class="entry-info">
                <div>
                  <div class="text-holder">
                    Title
                  </div>
                  <div class="author-nickname">
                    Partner & CSO
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Location
                  </div>
                  <div class="author-nickname">
                    Belgium
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Email
                  </div>
                  <div class="author-nickname">
                    <a href="mailto:Steve.Raskin@Optimum-Sorting.com" rel="author">
                      Steve.Raskin@Optimum-Sorting.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="entry-content">
            <p>
              Belgium is known as the country of beer, chocolate, waffles, 
              and diamonds, but it is also renowned for its innovative 
              high-tech companies exporting their high-quality products and 
              services to the US and the rest of the world. Optimum Sorting 
              is one of them.
            </p>
            <p>
              Steve Raskin is the Co-founder and CSO of Optimum Sorting, 
              and we wanted to introduce him to you by letting him share 
              his story with his own personal vibe.
            </p>
            <p>
              I started working in optical sorting in 1998 after studying 
              industrial engineering and lasers in Holland. At that time, 
              it was difficult to find work related to my studies so when 
              I was approached by Elbicon and invited to visit them working 
              with lasers on nuts, I was excited for the opportunity. I 
              started my career in test/demo, eventually working in most 
              departments within the company as it grew, which gave me an 
              extremely well-rounded understanding of how each job and 
              function contributes to the larger system.
            </p>
            <blockquote>
              <p>
                No job is too small – they all matter.
              </p>
            </blockquote>
            <p>
              A while back, I was on an amateur cycling team and we trained 
              to climb a mountain in France, uphill at a 30% incline for 
              20km. We started training toward this goal and found that, as 
              individuals, we didn’t need to be the strongest or most in 
              hape member of the team but as a group, we managed to finish 
              the climb. Each person provided a different skill to achieve 
              the goal. Just like in our business, each person has their 
              place in the company. No job is too small – they all matter. 
              Each position contributes to the success of our company. And 
              for each order we receive, we celebrate.
            </p>
            <p>
              This career has taught me many lessons. The greatest lesson 
              I’ve learned is to reflect on every circumstance in detail 
              and not be hasty to resolve. With reflection, I always come 
              to the same conclusion: that I need to be more patient. It’s 
              always better to do it correctly the first time versus 
              hurrying to find a solution and having to revisit the 
              circumstance. Often, looking at a situation twice will offer 
              an alternate solution.
            </p>
            <p>
              I’ve begun relationships and developed friendships with 
              customers across the globe and am thankful for all the great 
              memories I’ve made and those to come. I look forward to 
              continuing to find joy and success in the work we do and 
              supporting our customers the best we can. 
            </p>
            <p>
              You can learn more about Optimum Sorting here: 
              <a href="https://www.optimum-sorting.com/en/home/" target="_window">optimum-sorting.com</a>.
            </p>
            <p style="width: 32%; display: inline-block;">
              <a href="hhttps://www.optimum-sorting.com/en/novus/" target="_window">
                <img src="/assets/img/novus.png" alt="novus machine render">
              </a>
            </p>
            <p style="width: 32%; display: inline-block;">
              <a href="https://www.optimum-sorting.com/en/triplus/" target="_window">
                <img src="/assets/img/triplus.png" alt="triplus machine render">
              </a>
            </p>
            <p style="width: 32%; display: inline-block;">
              <a href="https://www.optimum-sorting.com/en/ventus/" target="_window">
                <img src="/assets/img/ventus.png" alt="ventus machine render">
              </a>
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <div class="clear"></div>
</div>
{{ end }}}
