{{ define "pageContent" }}
<div id="content" class="site-content">
    <article>
        <div class="single-post-header-content content-1170 center-relative">
            <img src="/assets/img/0045.jpg" alt="" class="bottom-50">

            <div class="post-wrapper center-relative">
                <div class="single-content-wrapper content-960 center-relative">
                    <h1 class="entry-title">
                        Rose Timmer
                    </h1>

                    <div class="post-info-wrapper">
                        <div class="sticky-spacer">
                            <div class="entry-info">
                                <div>
                                    <div class="text-holder">
                                        Title
                                    </div>
                                    <div class="author-nickname">
                                        <a href="#" rel="author">
                                            Director of Getting Shit Done
                                        </a>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-holder">
                                        Location
                                    </div>
                                    <div class="author-nickname">
                                        <a href="#" rel="author">
                                            Bozeman, MT
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="entry-content">
                        <p>
                            When I was 16, my father opened a dry food repack line and I
                            worked in the office. It was the most unconventional job I had
                            ever had but I learned a lot about payroll, employees and covering
                            your ass. I also learned that food was an interesting business
                            that I wanted to know more about.
                        </p>
                        <p>
                            Fast forward to college where I did copious amounts of data entry
                            and booked last minute travel for my father whose schedule changed
                            so frequently, planning was difficult.
                        </p>
                        <blockquote>
                            <p>
                                I was able to get an intricate understanding of
                                the interworking of the business which was a
                                remarkable base for where I am today.
                            </p>
                        </blockquote>
                        <p>
                            When I finally went to work for him full time I learned the
                            business by being him when he traveled. Between his appointments,
                            I read his emails to him, typed his dictated responses (before
                            dictation was available) and kept track of the follow up items
                            required for each email. I was able to get an intricate
                            understanding of the interworking of the business which was a
                            remarkable base for where I am today.
                        </p>
                        <p>
                            I’m grateful to my father for the tools he’s given me to become
                            successful in an industry that is very challenging. He always told
                            people that he was not a salesperson, just trying to help his
                            customers with the right solution for their business and that’s
                            the way I see myself now as well. I seek to be a resource to my
                            customers in an industry that is relatively unfamiliar to most
                            with a product that is constantly changing and getting better. If
                            I can educate my customers, they can better apply my product to
                            theirs and make better decisions for themselves.
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </article>
    <div class="clear"></div>
</div>
{{ end }}}
