{{ define "pageContent" }}
<div id="content" class="site-content">
  <article>
    <div class="single-post-header-content content-1170 center-relative">
      <img src="/assets/img/0045.JPG" alt="" class="bottom-50">

      <div class="post-wrapper center-relative">
        <div class="single-content-wrapper content-960 center-relative">
          <h1 class="entry-title">
            Rose Timmer
          </h1>

          <div class="post-info-wrapper">
            <div class="sticky-spacer">
              <div class="entry-info">
                <div>
                  <div class="text-holder">
                    Title
                  </div>
                  <div class="author-nickname">
                    Director of Getting Shit Done
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Location
                  </div>
                  <div class="author-nickname">
                    Bozeman, MT
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Email
                  </div>
                  <div class="author-nickname">
                    <a href="mailto:rose@rosetimmer.com" rel="author">
                      rose@rosetimmer.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="entry-content">
            <p>
              When I was 16, I worked in the office of my father’s newly 
              opened dry food repack line. My duties were wide-ranging, to 
              the point where many of the guys called me “HR.” It truly was 
              the most unconventional job I ever had but, at a young age, I 
              learned how to organize a business, its employees, and the 
              importance of integrity in the workplace. I also learned that 
              food processing is a very interesting – and widely 
              misunderstood – business. I was eager to learn more.
            </p>
            <p>
              Fast forward to college when I did copious amounts of data 
              entry for my father (gosh, how much has technology changed, 
              am I right?) and became the best travel agent in the state, 
              learning the fine art of a functional travel schedule. My 
              father then sent me out to get a “real job” so I could truly 
              appreciate the hard work and personal satisfaction this 
              industry could later provide.
            </p>
            <blockquote>
              <p>
                I was able to get an intricate understanding of the 
                interworking of the business which serves as a remarkable 
                base for everything that I do today.
              </p>
            </blockquote>
            <p>
              Years later, when I started working for him full-time, I 
              learned the business by filling in for him when he traveled. 
              I learned his language, how he responded to questions, how he 
              learned customer needs, how he outlined projects, and most 
              importantly, how he communicated expectations for both the 
              vendor and the processor. I was able to get an intricate 
              understanding of the interworking of the business which 
              serves as a remarkable base for everything that I do today. 
            </p>
            <p>
              I am grateful to my father for the tools he’s given me and 
              the morals he instilled in me which have allowed me to be 
              successful in an industry that is very challenging and 
              relatively unique. He always told people that he wasn’t just 
              a salesperson, but that he wanted to support each customer in 
              finding the best solution for their business, even if that 
              meant furthering their mutual relationship.
            </p>
            <p>
              I strive to provide that same service to our customers. I 
              seek to be a resource to them in an industry that is often 
              unfamiliar to most, with an evaluation process that can be 
              daunting, technology that is constantly evolving, and product 
              that can have large variance from year to year. If I can 
              educate our customers, they can better apply our products to 
              theirs and make the best decisions for their companies. 
              Ultimately, trust is at the forefront of our mission and I 
              work tirelessly to maintain the highest standards of quality 
              and reliability.
            </p>
            <p>
              When I’m not working you can find me visiting friends around 
              the globe, riding my cruiser to the farmers' market, and 
              planning Pheasants Forever fundraising events.
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <div class="clear"></div>
</div>
{{ end }}}
