{{ define "pageContent" }}
<div id="content" class="site-content">
  <article>
    <div class="single-post-header-content content-1170 center-relative">
      <img src="/assets/img/IMG_0367.jpg" alt="" class="bottom-50">

      <div class="post-wrapper center-relative">
        <div class="single-content-wrapper content-960 center-relative">
          <h1 class="entry-title">
            Jim Timmer
          </h1>

          <div class="post-info-wrapper">
            <div class="sticky-spacer">
              <div class="entry-info">
                <div>
                  <div class="text-holder">
                    Title
                  </div>
                  <div class="author-nickname">
                    Director of Thinking Things Through
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Location
                  </div>
                  <div class="author-nickname">
                    Bozeman, MT
                  </div>
                </div>
                <div>
                  <div class="text-holder">
                    Email
                  </div>
                  <div class="author-nickname">
                    <a href="mailto:james@rosetimmer.com" rel="author">
                      james@rosetimmer.com
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="entry-content">
            <p>
              I started in the wholesale food business in 1974 as a college student, when I worked in San Francisco at
              the Hirschfelder Company, pulling orders and driving trucks. I was employed here for two summers, learning
              a lot about the food business in the process. Immediately after graduating college, I accepted the
              assistant purchasing agent position at Marin Food Specialties in San Rafael, CA.
            </p>
            <p>
              Indeed, I am indebted to Joe and Larry Brucia for giving me this opportunity. After about six months, I
              was promoted to managing the snack food manufacturing division of the company.
            </p>
            <p>
              This experience was indispensable to my developing knowledge of food manufacturing, manufacturing
              equipment, supplies, food quality and sanitation and, just as importantly, working with people. I ran the
              manufacturing arm of the company from 1977 until I departed. In 1983, I received an opportunity to move to
              Montana and assist in starting a food manufacturing operation in fruits & vegetables. Over the next six
              years, I was with the company, installing a variety of food processing operations in meat and poultry,
              fruits and vegetables, grain and herb production as well as operating a bakery.
            </p>
            <blockquote>
              <p>
                This experience was indispensable to my developing knowledge of food manufacturing...
              </p>
            </blockquote>
            <p>
              In 1989, I transitioned into a variety of other food related manufacturing and used equipment sales
              activities. Unlike your run-of-the-mill salesman, I was able to be a valuable resource to my clients due
              to my experience purchasing new and used equipment and working food manufacturing facilities. In 1991, I
              was offered a position in the new equipment sales arena and joined Western States Machinery Corp.,
              headquartered in Pacific Grove, CA, where I was assigned the NW territory. I owe a lot to John Chaffin of
              Western States because of the trust he placed in me when I had no track record.
            </p>
            <p>
              I did not have much experience in sales and, quite frankly, floundered for the first couple years as I
              learned how to sell and to be of value to my prospective customers. Even though I had little money at the
              time, I paid a substantial fee to take a Dale Carnegie class, hoping that that would provide some guidance
              in my sales endeavors. After much time and effort, I slowly began to make sales and gain confidence in my
              new role. At various times, I took each of my children along with me on a sales trips so they could
              understand what their dad did when he was gone. In 1999, I decided to venture out on my own and
              incorporated Loring Industries, Inc. as a contract dry packaging company and named the company after a
              family surname.
            </p>
            <p>
              2000 was the year I began selling for BEST (Belgian Electronic Inspection Systems) when they opened their
              sales activities in the United States through M. Parise & Associates. I truly appreciate Mike not only for
              providing this opportunity to my company, but also for everything he has done for me over the years. BEST
              has been a tremendous company to represent and I have enjoyed being a part of a real-world success story
              over the last 19 years.
            </p>
            <p>
              This experience and knowledge equips Loring Industries, Inc. to understand the needs of our customers and
              add value by offering solutions to problems in the industry. We conceptualize our job as an extension of
              our customer’s engineering department, with expertise in helping our customers solve perplexing problems
              and design ways to save money to increase their profitability. We are old-fashioned salespeople and we
              truly enjoy our customers and the relationships we have developed over the years. I also want to take this
              opportunity to thank our many customers for the trust they placed in us and how contributing to their
              success has engendered our own. We are truly happy to be of service.
            </p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </article>
  <div class="clear"></div>
</div>
{{ end }}}
