{{ define "leftNav" }}
<div class="menu-left-part">
  <nav id="header-main-menu">
    <ul class="main-menu sm sm-clean">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/portfolio-rose">Rose</a>
      </li>
      <li>
        <a href="/portfolio-jim">Jim</a>
      </li>
      <li>
        <a href="/portfolio-ansley">Ansley</a>
      </li>
      <li>
        <a href="/portfolio-optimum">Optimum</a>
      </li>
      {{/* <li>
        <a href="/contact">Contact</a>
      </li> */}}
    </ul>
  </nav>

  <div class="menu-right-text">
    <p class="menu-text-title">HELLO</p>
    <div class="menu-text">
      Welcome to our online presence. You can read about my
      <a href="/portfolio-rose">experience</a>
      or you can simply
      <a href="mailto:rose@rosetimmer.com?subject=Hey Rose, I have a question!">reach out</a>.
    </div>
    <br>
    <br>
    <a class="socail-text" href="https://www.linkedin.com/in/rose-timmer-95098446/" target="_window">LinkedIN ROSE.</a>
    <a class="socail-text" href="https://www.linkedin.com/in/james-timmer-18207b59/" target="_window">LinkedIN JIM.</a>
  </div>
</div>
{{ end }}
