{{ define "leftNav" }}
<div class="menu-left-part">
  <nav id="header-main-menu">
    <ul class="main-menu sm sm-clean">
      <li>
        <a href="/">Home</a>
      </li>
      <!-- <li>
        <a href="about.html">About</a>
      </li>
      <li>
        <a href="gallery.html" class="has-submenu">Gallery</a>
        <ul class="sub-menu">
          <li>
            <a href="gallery.html">Gallery Color</a>
          </li>
          <li>
            <a href="gallery-bw.html">Gallery B&amp;W</a>
          </li>
          <li>
            <a href="gallery-inverse-bw.html">Gallery W&amp;B</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="blog.html">Blog</a>
      </li> -->
      <li>
        <a href="/contact">Contact</a>
      </li>
      <li>
        <a href="/case-studies">Case Studies</a>
      </li>
    </ul>
  </nav>

  <div class="menu-right-text">
    <p class="menu-text-title">HELLO</p>
    <div class="menu-text">
      Welcome to my online presence. You can read about my <a href="/">experience</a> or you can simply <a href="/contact">reach out</a>
    </div>
    <br>
    <br>
    <a class="socail-text" href="https://www.linkedin.com/in/rose-timmer-95098446/" target="_window">IN.</a>
  </div>
</div>
{{ end }}
