{{ define "myInfo" }}
<p class="my-info">
  <span>Address:</span> Wheaton, IL, United States
  <br>
  <span>Phone:</span> +1 406-581-1544
</p>
<br>
<a class="socail-text" href="https://www.linkedin.com/in/rose-timmer-95098446/" target="_window">LinkedIN ROSE.</a>
<a class="socail-text" href="https://www.linkedin.com/in/james-timmer-18207b59/" target="_window">LinkedIN JIM.</a>
{{ end }}
