{{ define "rightSidebar" }}
<div class="menu-right-part">
  <div class="header-logo">
    <a href="/">
      <img src="/assets/img/logo.png" alt="Rose Timmer &amp; Associates">
    </a>
  </div>

  <div class="toggle-holder">
    <div id="toggle">
      <div class="menu-line"></div>
    </div>
  </div>
</div>
{{ end }}
